/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

/* globale varible */
:root{
    --main-color: #4F0E0E;
    --border-reduis:95% 4% 97% 5%/4% 94% 3% 95%;
    --border-reduis-hover:4% 95% 6% 95%/95% 4% 92% 5%;
    --border: 0.2rem solid var(--main-color);
    --shadow:0 0 15px #85603F;
    --border-hover: 0.2rem dashed var(--main-color);
}

/* global setting */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
input[type ='submit']{
    outline: none;
}
button{
    outline: none;
    border: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
section{
    padding:2rem 9%;
}
.btn{
    display: inline-block;
    padding: 0.9rem 1.5rem;
    border-radius: var(--border-reduis);
    color: var(--main-color);
    background: none;
    border: var(--border);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 18px;
}
.btn:hover{
    border: var(--border-hover);
    border-radius: var(--border-reduis-hover);
}
.heading{
    font-size: 9rem;
    text-transform: uppercase;
    color: transparent;
    pointer-events: none;
    letter-spacing: 0.2rem;
    text-align: center;
    -webkit-text-stroke: 0.05rem var(--main-color);
    position: relative;
}
.heading span{
    position:absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    color: var(--main-color);
    font-size: 3rem;
}
 /* start header section  */
 .header{
     display: flex;
     align-items: center;
     justify-content: space-between;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     box-shadow: var(--shadow);
     background-color: #fff;
     z-index: 1000;
     padding: 2rem 9%;
 }
 
  .header .logo{
      color: var(--main-color);
      font-size: 40px;
      font-family: 'Oleo Script', cursive;
  }
  .header .logo i{
      padding-left: 0.5rem;
  }
  .header ul {
      display: flex;
  }
  .header ul li .list-item {
      padding-left: 15px;
      font-size: 18px;
      color: var(--main-color);
      font-weight: bold;
      text-transform: capitalize;
      transition: color 0.4s ease;
  }
  .header ul li a:hover,
  .header ul li .list-item.active{
      color: #C5A880;
  }
  .header .btn{
      margin-top: 0;
  }

  #menu-btn{
      font-size: 3rem;
      color: var(--main-color);
      cursor: var(--main-color);
      display: none;
      cursor: pointer;
  }
   
/* start home section  */
.home-section{
    min-height: 100vh;
    padding-top: 12rem;
}
.home-section .row{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.home-section .content,
.home-section .images{
    width: 50%;
}
.home-section .images{
  padding-top: 10rem;
  text-align: center;
}
.home-section .images img{
    width: 35rem;
    animation: float 4s linear infinite;
}

.home-section .content h3{
    font-size: 6.5rem;
    text-transform: uppercase;
    color: #58391C;
}
/* images slider  */
.images-slider{
    text-align: center;
    padding: 3rem 0;
}
.images-slider img{
    width: 10rem;
    margin: 0 0.5rem;
    cursor: pointer;
   margin-top: 5rem;
 
}
.images-slider img:hover{
    transform: translateY(-2rem);
}

/* start about section  */
.about-section .row{
         display: flex;
        align-items: center;
        gap: 1.5rem;
        flex-wrap: wrap;  
}
.about-section .images,
.about-section .content {
    flex: 1 1 42rem;
}

.about-section .images img {
    width: 100%;
    animation: aboutImage 4s linear infinite;
}
.about-section .content .title{
    font-size: 3rem;
    color: var(--main-color);
    line-height: 1.3;
}
.about-section .content p{
    font-size: 1.5rem;
    color: #58391C;
    padding: 1rem 0;
    line-height: 1.3;
}
.icons-container{
    display: flex;
  flex-wrap: wrap;
    gap: 1rem;
    padding-top: 3rem;
 
}
.icons-container .icons{
    font: 1 1 15rem;
    padding: 1.5rem;
    text-align: center;
    border-radius: var(--border-reduis);
    border: var(--border);

}
.icons-container .icons img{
    height: 6rem;
}
.icons-container .icons h3{
    font-size: 1.7rem;
    padding-top: 1rem;
    color: #58391C;
    text-transform: capitalize;
}
/* start menu section  */
.menu{
    background-image: url(../images/backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   background-position: center;
   background-origin: initial;
}
.menu .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
}
.menu .box-container img{
    width: 8rem;
    height: 8rem;
    margin-left: -6rem;
    border-radius: 50%;
    border: 2px solid #4F0E0E;
}
.menu .box-container .box{
    display: flex;
    flex: 1 1 42rem;
    align-items: center;
    gap: 1.5rem;
    border: var(--border);
    border-radius: var(--border-reduis);
    font: 1 1 42rem ;
    padding: 2rem;
    margin-left: 6rem;
}
.menu .box-container .box:hover{
    border: var(--border-hover);
    border-radius: var(--border-reduis-hover);
}
.menu .box-container .box .content h3{
    font-size: 2.2rem;
    text-transform: capitalize;
    color:#58391C;
    line-height: 1.8;
}
.menu .box-container .box .content p{
    font-size:1.6rem;
    color: #493323;
    line-height: 1.8;
    font-weight: 400;
    font-weight: 400;
}
.menu .box-container .box .content span{
    font-weight: 400;
    font-size: 1.4rem;
}
/* start review section  */
.review-section .review-slider{
    padding: 7rem 0;
}
.review-section .review-slider .box{
       text-align: center;
       border: var(--border);
       border-radius: var(--border-reduis);
       padding: 2rem;
       z-index: 0;
       position: relative;
}
.review-section .review-slider .box .fa-quote-left{
    position: absolute;
    top: 2rem;
    left: 2.5rem;
    font-size: 6rem;
    color: #DEBA9D;
    z-index: -1;
}
.review-section .review-slider .box .fa-quote-right{
    position: absolute;
    bottom: 2rem;
    right: 2.5rem;
    font-size: 6rem;
    color: #DEBA9D;
    z-index: -1;
}
.review-section .review-slider .box:hover  .fa-quote-left{
    top: -6.5rem;

}
.review-section .review-slider .box:hover .fa-quote-right{
    bottom: -6.5rem;
}
.review-section .review-slider .box img{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin-bottom: 0.7rem;
}
.review-section .review-slider .box .stars{
    padding: 0.5rem 0;
}
.review-section .review-slider .box .stars i{
    font-size: 1.7rem;
    color: #493323;
}

.review-section .review-slider .box p{
    font-size: 1.6rem;
    color: #493323;
    line-height: 1.8;
    padding: 1rem 0;
    text-transform: capitalize;
}
.review-section .review-slider .box h3{
    font-size: 2.2rem;
    color: #493323;
    line-height: 1.8;
    text-transform: capitalize;

 
}
.review-section .review-slider .box span{
    font-size: 1.5rem;
    color: #493323;
    text-transform: capitalize;
}
/* swiper bullets */
span.swiper-pagination-bullet {
    background: var(--main-color);
}
/* start book section  */
.book-section{
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.book-section form{
    margin: 0 auto 2rem auto;
    max-width: 60rem;
    border-radius: var(--border-reduis-hover);
    border: var(--border);
    padding: 3rem;
}
.book-section form .box{
    width: 100%;
    background: none;
    border: 0.5rem;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    text-transform: none;
    color: var(--main-color);
    border: var(--border);
    margin: 0.7rem 0;
    outline: none;
    font-weight: 700;
}
.book-section form .box:focus{
    border: var(--border-hover);
}
.book-section form .textarea{
    resize: none;
    height: 15rem;
}
.book-section form .box::placeholder{
    color: #58391C;
}
.book-section form .box:focus::placeholder{
    opacity: 0;
    transition: .3s;
}
/* start final section  */
footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(32rem,1fr));
    gap: 1.5rem;
    margin: 20px 0 0 0;
    padding: 10px; 
}
footer .box-container .box:first-child{
    margin-left: 50px;
}

footer .box-container .box h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #58391C;
    text-transform: capitalize;
}
footer .box-container .box ul li a{
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #865439;
    text-transform: capitalize;
}
footer .box-container .box ul li a i{
    padding-right: 0.5rem;
}
footer .box-container .box ul li a:hover i{
    padding-right: 2rem ;
}
footer .credit{
    text-align: center;
    font-size: 2rem;
    padding: 2rem 1rem;
    /* margin-top: 1rem; */
    color: #865439;
    text-transform: capitalize;
     margin: 20px 40px 0 40px;
    border-top: 1px solid #865439;
    font-weight: 400;
}

/*  start animation  */
@keyframes float{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-7rem);
    }
}
    @keyframes aboutImage {
        0%,100%{
            transform: scale(.9);
            border-radius: var(--border-reduis-hover);
        }
        50%{
            transform: scale(.8);
            border-radius: var(--border-reduis);
        }    
}
  /* responsiv section  */

  @media(max-width:991px){
      html{
          font-size: 55%;
      }
      .header{
          padding: 2rem;
      }
      section{
    padding:2rem;
      }

  }

   @media(max-width:768px){
    #menu-btn{
        display: initial;
    }
    #menu-btn .fa-times{
        transform: rotate(180deg);
    }
    .header .navbar{
        position: absolute;
        left: 0;
        right: 0;
        top: 99%;
        background: #fff;
        clip-path: polygon(0 0 ,100% 0,100% 0 , 0 0);
    }
    .header .navbar ul {
        display: block;
        font-size: 2.2rem;
       text-align: center;
   
    }
    .header .navbar ul li {
        margin:0.5rem;
        padding: 1.5rem 2rem;
      
    }
    .header .navbar ul li a:hover{
         background-color: #85603F;
          padding: 10px;
         border-radius: 5px;
    }
    .header ul li a.active{
        color: #C5A880;
    }
    .header .navbar.active{
        clip-path: polygon(0 0 ,100% 0,100% 100%,0% 100%);
    }
    .home-section {
        text-align: center;
    }
   .home-section .content h3{
        font-size: 4rem ;
    }
    .heading{
        font-size: 6rem;
    }
    .heading span{
 font-size: 2.3rem;
    }
    .icons-container .icons {
        text-align: center;
        justify-content: space-between;
       align-items: center;
       margin-left: 15px ;
    }
    .menu .box-container .box {
        margin-left: 0;
        margin-top: 6rem;
        flex-direction: column;
        text-align: center;
    }
    .menu .box-container .box img{
        margin-left: 0;
        margin-top: -6rem;
    }
    footer .box-container .box{
         text-align: center;
         font-size: 2.2rem;
       
    }
    footer .box-container .box:first-child{
        margin-left: 0;
 }
   }
  @media(max-width:450px){
    html{
        font-size: 50%;
    }
.home-section .images img{
  height: auto;
  width: 100%;
  
} 
}
